In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import *
sqlalchemy.__version__

'1.3.15'

In [2]:
# dialect+driver://username:password@host:port/database
COVID_DB_ENGINE_CONNECTON = %env COVID_DB_ENGINE_CONNECTON
engine = create_engine(COVID_DB_ENGINE_CONNECTON, echo=True)
engine

Engine(postgresql+psycopg2://covid_superuser:***@localhost:5432/covid)

In [3]:
metadata = MetaData()
# Continent table
continent = Table('continent', metadata,
    Column('continent_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Country table
country = Table('country', metadata,
    Column('country_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('continent_id', Integer, ForeignKey("continent.continent_id"))
)

# Province-state table
province_state = Table('province_state', metadata,
    Column('province_state_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('country_id', Integer, ForeignKey("country.country_id"))
)

# Type category table
type_category = Table('type_category', metadata,
    Column('type_category_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Case table
case_timeseries = Table('case_timeseries', metadata,
    Column('case_timeseries_id', Integer, primary_key=True),
    Column('count', Numeric, nullable=True),
    Column('date', TIMESTAMP, nullable=True),
    Column('case_type', Integer, ForeignKey("type_category.type_category_id")),
    Column('country_id', Integer, ForeignKey("country.country_id")),
    Column('province_state_id', Integer, ForeignKey("province_state.province_state_id"))
)

In [4]:
conn = engine.connect()

2020-04-13 14:35:52,556 INFO sqlalchemy.engine.base.Engine select version()
2020-04-13 14:35:52,557 INFO sqlalchemy.engine.base.Engine {}
2020-04-13 14:35:52,560 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-04-13 14:35:52,561 INFO sqlalchemy.engine.base.Engine {}
2020-04-13 14:35:52,564 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-04-13 14:35:52,565 INFO sqlalchemy.engine.base.Engine {}
2020-04-13 14:35:52,568 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-04-13 14:35:52,569 INFO sqlalchemy.engine.base.Engine {}
2020-04-13 14:35:52,570 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-04-13 14:35:52,571 INFO sqlalchemy.engine.base.Engine {}

In [5]:
from sqlalchemy.sql import select
s = select([case_timeseries])
result = conn.execute(s)

2020-04-13 14:35:53,617 INFO sqlalchemy.engine.base.Engine SELECT case_timeseries.case_timeseries_id, case_timeseries.count, case_timeseries.date, case_timeseries.case_type, case_timeseries.country_id, case_timeseries.province_state_id
FROM case_timeseries
2020-04-13 14:35:53,618 INFO sqlalchemy.engine.base.Engine {}

In [6]:
result_table = result.fetchall()

In [7]:
type(result_table)

list

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(result_table)

In [10]:
df

           0  1          2  3    4   5
0          0  0 2020-01-22  0    0 NaN
1          1  0 2020-01-22  0    1 NaN
2          2  0 2020-01-22  0    2 NaN
3          3  0 2020-01-22  0    3 NaN
4          4  0 2020-01-22  0    4 NaN
...      ... ..        ... ..  ...  ..
57527  57527  0 2020-04-06  2   28 NaN
57528  57528  0 2020-04-06  2  149 NaN
57529  57529  0 2020-04-06  2  104 NaN
57530  57530  0 2020-04-06  2  155 NaN
57531  57531  0 2020-04-06  2  144 NaN

[57532 rows x 6 columns]

In [11]:
row_list=[]
with engine.connect() as con:
    rs = con.execute("SELECT co.name, t.name, c.date, sum(c.count) \
                     FROM case_timeseries c JOIN type_category t \
                     ON (c.case_type=t.type_category_id) \
                     JOIN country co ON (c.country_id=co.country_id) \
                     WHERE co.name='Canada' AND t.name='Confirmed' \
                     GROUP BY co.name, t.name, c.date \
                     ORDER BY c.date;")
    for row in rs:
        row_list.append(row)

row_df = pd.DataFrame(row_list)

2020-04-13 14:36:54,671 INFO sqlalchemy.engine.base.Engine SELECT co.name, t.name, c.date, sum(c.count)                      FROM case_timeseries c JOIN type_category t                      ON (c.case_type=t.type_category_id)                      JOIN country co ON (c.country_id=co.country_id)                      WHERE co.name='Canada' AND t.name='Confirmed'                      GROUP BY co.name, t.name, c.date                      ORDER BY c.date;
2020-04-13 14:36:54,672 INFO sqlalchemy.engine.base.Engine {}

In [12]:
row_df

,0,1,2,3
0,Canada ...,Confirmed,2020-01-22,0
1,Canada ...,Confirmed,2020-01-23,0
2,Canada ...,Confirmed,2020-01-24,0
3,Canada ...,Confirmed,2020-01-25,0
4,Canada ...,Confirmed,2020-01-26,1
...,...,...,...,...
71,Canada ...,Confirmed,2020-04-02,11284
72,Canada ...,Confirmed,2020-04-03,12437
73,Canada ...,Confirmed,2020-04-04,12978
74,Canada ...,Confirmed,2020-04-05,15756
75,Canada ...,Confirmed,2020-04-06,16563