In [33]:
import os
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import *
sqlalchemy.__version__

'1.3.15'

In [110]:
class CovidDatabase:
    ### Initialize ###
    def __init__(self):
        try:
            COVID_DB_ENGINE_CONNECTION = os.getenv('COVID_DB_ENGINE_CONNECTION')
            self.engine = create_engine(COVID_DB_ENGINE_CONNECTION, echo=True)
            self.connection = self.engine.connect()
        except AttributeError:
            raise AttributeError('Could not find database connection environment variable. Please create it using "export COVID_DB_ENGINE_CONNECTION="postgresql+psycopg2://covid_superuser:PASSWORD@localhost:5432/covid".')
        metadata = MetaData()
        # Continent table
        self.metadata = {
            'continent': Table('continent', metadata,
                Column('continent_id', Integer, primary_key=True),
                Column('name', String(50), nullable=True),
            ),
            # Country table
            'country': Table('country', metadata,
                Column('country_id', Integer, primary_key=True),
                Column('name', String(50), nullable=True),
                Column('lat', Numeric, nullable=True),
                Column('lat', Numeric, nullable=True),
                Column('continent_id', Integer, ForeignKey("continent.continent_id"))
            ),
            # Province-state table
            'province_state': Table('province_state', metadata,
                Column('province_state_id', Integer, primary_key=True),
                Column('name', String(50), nullable=True),
                Column('lat', Numeric, nullable=True),
                Column('lat', Numeric, nullable=True),
                Column('country_id', Integer, ForeignKey("country.country_id"))
            ),
            # Type category table
            'type_category': Table('type_category', metadata,
                Column('type_category_id', Integer, primary_key=True),
                Column('name', String(50), nullable=True),
            ),
            # Case table
            'case_timeseries': Table('case_timeseries', metadata,
                Column('case_timeseries_id', Integer, primary_key=True),
                Column('count', Numeric, nullable=True),
                Column('date', TIMESTAMP, nullable=True),
                Column('case_type', Integer, ForeignKey("type_category.type_category_id")),
                Column('country_id', Integer, ForeignKey("country.country_id")),
                Column('province_state_id', Integer, ForeignKey("province_state.province_state_id"))
            )
        }
    def getTable(self, table_name):
        self.connection = self.engine.connect()
        row_list=[]
        with self.connection as con:
            rs = con.execute("SELECT * FROM " + str(table_name))
            for row in rs:
                row_list.append(row)

        row_df = pd.DataFrame(row_list)
        if table_name=='province_state':
            row_df.columns = ['province_state_id', 'name', 'lat', 'long', 'country_id']
        elif table_name=='country':
            row_df.columns = ['country_id', 'name', 'lat', 'long', 'continent_id']
        elif table_name=='continent':
            row_df.columns = ['continent_id', 'name']
        elif table_name=='type_category':
            row_df.columns = ['type_id', 'name']
        else:
            row_df.columns = ['case_timeseries_id','case_type', 'count', 'country_id', 'date', 'province_state_id']
        return(row_df)
    def updateData(self):
        return 0

In [111]:
cdb = CovidDatabase()

2020-04-14 16:44:57,739 INFO sqlalchemy.engine.base.Engine select version()
2020-04-14 16:44:57,739 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:44:57,742 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-04-14 16:44:57,742 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:44:57,745 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-04-14 16:44:57,746 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:44:57,748 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-04-14 16:44:57,748 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:44:57,750 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-04-14 16:44:57,750 INFO sqlalchemy.engine.base.Engine {}

In [112]:
cdb.engine

Engine(postgresql+psycopg2://covid_superuser:***@localhost:5432/covid)

In [113]:
timeseries = cdb.getTable('case_timeseries')

2020-04-14 16:44:59,511 INFO sqlalchemy.engine.base.Engine SELECT * FROM case_timeseries
2020-04-14 16:44:59,512 INFO sqlalchemy.engine.base.Engine {}

In [114]:
timeseries.columns

Index(['case_timeseries_id', 'case_type', 'count', 'country_id', 'date',
       'province_state_id'],
      dtype='object')

In [118]:
timeseries.country_id.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  18,  19,  20,  21,  23,  24,  25,  26,  29,
        30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  42,  43,
        44,  45,  46,  48,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        59,  60,  61,  62,  63,  64,  65,  66,  67,  69,  70,  72,  73,
        74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
        87,  88,  89,  90,  92,  93,  95,  96,  97,  99, 100, 101, 103,
       105, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 118, 119,
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 141, 142, 143, 145, 146, 147,
       148, 150, 151, 152, 153, 154, 156, 157, 158, 159, 160, 161, 163,
       164, 165, 167, 168, 169, 170, 172, 173, 174, 175, 176, 171, 177,
       178, 179, 182, 183,  49,  68, 117, 162, 166,  17,  94,  98,  71,
       107, 140,  91,  22,  28, 149, 104, 155, 144])

In [76]:
# dialect+driver://username:password@host:port/database
COVID_DB_ENGINE_CONNECTON = %env COVID_DB_ENGINE_CONNECTON
engine = create_engine(COVID_DB_ENGINE_CONNECTON, echo=True)
engine

Engine(postgresql+psycopg2://covid_superuser:***@localhost:5432/covid)

In [77]:
metadata = MetaData()
# Continent table
continent = Table('continent', metadata,
    Column('continent_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Country table
country = Table('country', metadata,
    Column('country_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('continent_id', Integer, ForeignKey("continent.continent_id"))
)

# Province-state table
province_state = Table('province_state', metadata,
    Column('province_state_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('country_id', Integer, ForeignKey("country.country_id"))
)

# Type category table
type_category = Table('type_category', metadata,
    Column('type_category_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Case table
case_timeseries = Table('case_timeseries', metadata,
    Column('case_timeseries_id', Integer, primary_key=True),
    Column('count', Numeric, nullable=True),
    Column('date', TIMESTAMP, nullable=True),
    Column('case_type', Integer, ForeignKey("type_category.type_category_id")),
    Column('country_id', Integer, ForeignKey("country.country_id")),
    Column('province_state_id', Integer, ForeignKey("province_state.province_state_id"))
)

In [78]:
case_timeseries

Table('case_timeseries', MetaData(bind=None), Column('case_timeseries_id', Integer(), table=<case_timeseries>, primary_key=True, nullable=False), Column('count', Numeric(), table=<case_timeseries>), Column('date', TIMESTAMP(), table=<case_timeseries>), Column('case_type', Integer(), ForeignKey('type_category.type_category_id'), table=<case_timeseries>), Column('country_id', Integer(), ForeignKey('country.country_id'), table=<case_timeseries>), Column('province_state_id', Integer(), ForeignKey('province_state.province_state_id'), table=<case_timeseries>), schema=None)

In [79]:
conn = engine.connect()

2020-04-14 16:32:40,676 INFO sqlalchemy.engine.base.Engine select version()
2020-04-14 16:32:40,676 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:32:40,677 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-04-14 16:32:40,678 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:32:40,679 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-04-14 16:32:40,680 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:32:40,681 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-04-14 16:32:40,682 INFO sqlalchemy.engine.base.Engine {}
2020-04-14 16:32:40,683 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-04-14 16:32:40,683 INFO sqlalchemy.engine.base.Engine {}

In [95]:
from sqlalchemy.sql import select
s = select([case_timeseries])
result = conn.execute(s)

2020-04-14 16:39:30,448 INFO sqlalchemy.engine.base.Engine SELECT case_timeseries.case_timeseries_id, case_timeseries.count, case_timeseries.date, case_timeseries.case_type, case_timeseries.country_id, case_timeseries.province_state_id
FROM case_timeseries
2020-04-14 16:39:30,449 INFO sqlalchemy.engine.base.Engine {}

In [96]:
result_table = result.fetchall()

In [97]:
type(result_table)

list

In [98]:
df = pd.DataFrame(result_table)

In [99]:
df_nonan=df.fillna(int(0))

In [100]:
df_nonan

           0  1          2  3    4    5
0          0  0 2020-01-22  0    0  0.0
1          1  0 2020-01-22  0    1  0.0
2          2  0 2020-01-22  0    2  0.0
3          3  0 2020-01-22  0    3  0.0
4          4  0 2020-01-22  0    4  0.0
...      ... ..        ... ..  ...  ...
57527  57527  0 2020-04-06  2   28  0.0
57528  57528  0 2020-04-06  2  149  0.0
57529  57529  0 2020-04-06  2  104  0.0
57530  57530  0 2020-04-06  2  155  0.0
57531  57531  0 2020-04-06  2  144  0.0

[57532 rows x 6 columns]

In [83]:
import pandas as pd

In [84]:
df = pd.DataFrame(result_table)

In [11]:
row_list=[]
with engine.connect() as con:
    rs = con.execute("SELECT co.name, t.name, c.date, sum(c.count) \
                     FROM case_timeseries c JOIN type_category t \
                     ON (c.case_type=t.type_category_id) \
                     JOIN country co ON (c.country_id=co.country_id) \
                     WHERE co.name='Canada' AND t.name='Confirmed' \
                     GROUP BY co.name, t.name, c.date \
                     ORDER BY c.date;")
    for row in rs:
        row_list.append(row)

row_df = pd.DataFrame(row_list)

2020-04-13 14:36:54,671 INFO sqlalchemy.engine.base.Engine SELECT co.name, t.name, c.date, sum(c.count)                      FROM case_timeseries c JOIN type_category t                      ON (c.case_type=t.type_category_id)                      JOIN country co ON (c.country_id=co.country_id)                      WHERE co.name='Canada' AND t.name='Confirmed'                      GROUP BY co.name, t.name, c.date                      ORDER BY c.date;
2020-04-13 14:36:54,672 INFO sqlalchemy.engine.base.Engine {}

In [12]:
row_df

,0,1,2,3
0,Canada ...,Confirmed,2020-01-22,0
1,Canada ...,Confirmed,2020-01-23,0
2,Canada ...,Confirmed,2020-01-24,0
3,Canada ...,Confirmed,2020-01-25,0
4,Canada ...,Confirmed,2020-01-26,1
...,...,...,...,...
71,Canada ...,Confirmed,2020-04-02,11284
72,Canada ...,Confirmed,2020-04-03,12437
73,Canada ...,Confirmed,2020-04-04,12978
74,Canada ...,Confirmed,2020-04-05,15756
75,Canada ...,Confirmed,2020-04-06,16563