In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.3.15'

In [18]:
COVID_DB_ENGINE_CONNECTON = %env COVID_DB_ENGINE_CONNECTON
COVID_DB_ENGINE_CONNECTON = COVID_DB_ENGINE_CONNECTON.replace("'", "")

In [19]:
COVID_DB_ENGINE_CONNECTON

'postgresql+psycopg2://covid_superuser:garythegoose@localhost:5432/covid'

In [20]:
from sqlalchemy import create_engine

In [21]:
#dialect+driver://username:password@host:port/database

In [22]:
engine = create_engine(COVID_DB_ENGINE_CONNECTON, echo=True)

In [23]:
engine

Engine(postgresql+psycopg2://covid_superuser:***@localhost:5432/covid)

In [24]:
from sqlalchemy import *

metadata = MetaData()

In [25]:
# Continent table
continent = Table('continent', metadata,
    Column('continent_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Country table
country = Table('country', metadata,
    Column('country_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('continent_id', Integer, ForeignKey("continent.continent_id"))
)

# Province-state table
province_state = Table('province_state', metadata,
    Column('province_state_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('lat', Numeric, nullable=True),
    Column('country_id', Integer, ForeignKey("country.country_id"))
)

# Type category table
type_category = Table('type_category', metadata,
    Column('type_category_id', Integer, primary_key=True),
    Column('name', String(50), nullable=True),
)

# Case table
case = Table('case', metadata,
    Column('case_id', Integer, primary_key=True),
    Column('count', Numeric, nullable=True),
    Column('date', TIMESTAMP, nullable=True),
    Column('case_type', Integer, ForeignKey("type_category.type_category_id")),
    Column('country_id', Integer, ForeignKey("country.country_id")),
    Column('province_state_id', Integer, ForeignKey("province_state.province_state_id"))
)

In [26]:
conn = engine.connect()

2020-04-07 23:27:02,351 INFO sqlalchemy.engine.base.Engine select version()
2020-04-07 23:27:02,352 INFO sqlalchemy.engine.base.Engine {}
2020-04-07 23:27:02,356 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-04-07 23:27:02,357 INFO sqlalchemy.engine.base.Engine {}
2020-04-07 23:27:02,360 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-04-07 23:27:02,361 INFO sqlalchemy.engine.base.Engine {}
2020-04-07 23:27:02,363 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-04-07 23:27:02,364 INFO sqlalchemy.engine.base.Engine {}
2020-04-07 23:27:02,365 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-04-07 23:27:02,365 INFO sqlalchemy.engine.base.Engine {}

In [27]:
from sqlalchemy.sql import select
s = select([case])
result = conn.execute(s)

2020-04-07 23:27:03,429 INFO sqlalchemy.engine.base.Engine SELECT "case".case_id, "case".count, "case".date, "case".case_type, "case".country_id, "case".province_state_id
FROM "case"
2020-04-07 23:27:03,430 INFO sqlalchemy.engine.base.Engine {}

In [28]:
result_table = result.fetchall()

In [29]:
type(result_table)

list

In [30]:
import pandas as pd

In [31]:
df = pd.DataFrame(result_table)

In [32]:
df

           0  1          2  3    4   5
0          0  0 2020-01-22  0    0 NaN
1          1  0 2020-01-22  0    1 NaN
2          2  0 2020-01-22  0    2 NaN
3          3  0 2020-01-22  0    3 NaN
4          4  0 2020-01-22  0    4 NaN
...      ... ..        ... ..  ...  ..
57527  57527  0 2020-04-06  2   28 NaN
57528  57528  0 2020-04-06  2  149 NaN
57529  57529  0 2020-04-06  2  104 NaN
57530  57530  0 2020-04-06  2  155 NaN
57531  57531  0 2020-04-06  2  144 NaN

[57532 rows x 6 columns]